{% extends 'base.html' %}
{% load thumbnail %}

{% block title-head %}
Online Shop
{% endblock %}

{% block lead %}
This project made with Django 💎 ❤️ Home PAGE
{% endblock %}

{% block content %}
<style>
    .product-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        cursor: pointer;
    }
    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>
<div class="container mb-4">
    <div class="btn-group" role="group" aria-label="Category toggle button group">
        {% for category in categories %}
            <input type="radio" class="btn-check" name="category" id="btnradio{{ category.slug }}" autocomplete="off" 
                   {% if category.id == selected_category %}checked{% endif %}>
            <label class="btn btn-outline-dark" for="btnradio{{ category.slug }}">{{ category.name }}</label>
            
            {% if category.sub_categories.all %}
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop{{ category.slug }}" type="button" 
                            class="btn btn-outline-primary dropdown-toggle" 
                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop{{ category.slug }}">
                        {% for sub in category.sub_categories.all %}
                            <li><a class="dropdown-item" href="{{ sub.get_absolut_url }}">{{ sub.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card h-100 product-card" onclick="window.location.href='{{ product.get_absolut_url }}';">
                    {% thumbnail product.image "300x300" crop="center" as img %}
                        <img src="{{ img.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                    </div>
                    <!-- <div class="card-footer">
                        <a href="{{ product.get_absolut_url }}" class="btn btn-primary">Show details</a>
                    </div> -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const categoryInputs = document.querySelectorAll('.btn-check');
    let lastChecked = document.querySelector('.btn-check:checked');

    categoryInputs.forEach(input => {
        input.addEventListener('click', function() {
            if (this === lastChecked){   
                this.checked = false;
                lastChecked = null; 
                window.location.href = '/';
            }
            else {
                const categorySlug = this.id.replace('btnradio', '');
                window.location.href = `/category/${categorySlug}/`;  // Adjust this URL as needed
            }
        });
    });
});
</script>
{% endblock %}